<html>

<head>
    <title>
        <%=Resume builder:Template two%>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://font.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Arial"
        }

        .a {
            background-color: MediumSlateBlue;
        }

        #site-footer {
            height: 50px;
            background: MediumSlateBlue;
        }


        #footer1 {
            margin-left: 2%;
            float: left;

        }

        #footer2 {
            margin-right: 2%;
            float: right;
        }
    </style>

</head>

<body class=w3-light-grey>
    <div>
        <h2>
            <%=Himanshu Sharma%>
        </h2>
        <h5>
            <%=Hospital Administrator%>
        </h5>
        <div>
            <p class="a"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-sand"></i>
                <%=hsharma@gmail.com%>
                <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-sand"></i>
                <%=963258741%>
                <i class="fa fa-map-marker fa-fw w3-margin-right w3-large w3-text-sand"></i>
                <%=Jaipur,India%>
                <i class="fa fa-facebook fa-fw w3-margin-right w3-large w3-text-sand"></i>
                <%=Himanshu sharma%>
            </p>
        </div>
    </div>
    <div>
        <h4>
            <%=RESUME OBJECTIVE%>
        </h4>
        <p>
            <%=Hospital Administrator with alsmost 3 years of experience organizing presentations,providing facilities
            and supervision. Looking to leverage my knowledge.%>
        </p>
    </div>
    <div>
        <h4>
            <%=SKILLS%>
        </h4>
        <p>
            <font size="4">
                <span style="background-color:MediumSlateBlue">
                    <%=Problem Solving%></span>
                <span style="background-color:MediumSlateBlue">
                    <%=Critical Thinking%></span>
                <span style="background-color:MediumSlateBlue">
                    <%=Strong Work ethic%></span>
                <span style="background-color:MediumSlateBlue">
                    <%=Leadership%></span>
                <span style="background-color:MediumSlateBlue">
                    <%=Collaboration%></span>
                <span style="background-color:MediumSlateBlue">
                    <%=Handling Pressure%></span>
                <span style="background-color:MediumSlateBlue">
                    <%=Adaptability%></span>
            </font>
        </p>
    </div>
    <div>
        <h4><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>
            <%=WORK EXPERIENCE%>
        </h4>
        <p>
            <%=HOSPITAL ADMINISTRATOR%>
        </p>
        <ol>
            <li>
                <%=inspired the organization todeliver the best care possible.%>
            </li>
            <li>
                <%=oversee staff and ushering in new politics.%>
            </li>
            <li>
                <%=helped to make quicker dexisions.%>
            </li>
            <li>
                <%provided bes facilities to the patients.%>
            </li>
        </ol>

    </div>

    <div class="outer" class="w3-row-padding">
        <p style="font-size:20px"><i class="fa fa-certificate fa-fw w3-margin-right w3-xlarge "></i>
            <%=EDUCATION%>
        </p>
        <div class="inner">
            <h5>
                <%=IIHMR University,Jaipur%>
            </h5>
            <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large "></i>
                <%=Jan 2017 - Jan 2019%>
            </p>
        </div>
        <div class="inner">
            <h5>
                <%=SGT University,Gurugram%>
            </h5>
            <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large "></i><span>
                    <%=Jan 2013-Dec 2014%></span></p>
        </div>
    </div>



</body>

<footer id="site-footer">

    <div id="footer1">
        <p>
            <%=Copyright 2019 - All Rights Reserved%>
        </p>
    </div>
    <div id="footer2">
        <p>
            <%=Template %>
        </p>
    </div>

</footer>



</html>